{% extends '::base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'category.list.category' | trans }}</th>
            <th>{{ 'category.list.actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td scope="row">{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>
                    <a href="{{path('category_edit', {'id': category.id})}}" class="btn btn-default">{{ 'category.actions.edit' | trans }}</a>
                    <a href="{{ path('category_delete', {'id': category.id})}}" class="btn btn-danger">{{ 'category.actions.delete' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{path('category_create')}}" class="btn btn-success">{{ 'category.button.add_category'|trans }}</a>
{% endblock %}

