{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('todo_create') }}" class="btn btn-default">{{ 'todo.button.add_todo' | trans }}</a>
    </div>
    <div class="well">
        {{ 'todo.nb_todos' | transchoice(5)}}
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ "todo.list.todo"| trans }}</th>
            <th>{{ "todo.list.created"| trans }}</th>
            <th>{{ "todo.list.due_date"| trans }}</th>
            <th>{{ "todo.list.label"| trans }}</th>
            <th>{{ "todo.list.actions" | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td scope="row">{{todo.id}}</td>
                <td>{{todo.name}}</td>
                <td>{{todo.createdAt | localizeddate('full', 'short')}}</td>
                <td>{{todo.duedate | localizeddate('full', 'none')}}</td>
                <td>
                    {% if not todo.lablels.empty %}
                        {% for label in todo.labels %}
                        <span class="label" style="background-color: {{ label.color }}">{{ label.name }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('todo_details', {'id': todo.id}) }}" class="btn btn-success">{{'todo.actions.view' | trans }}</a>
                    <a href="{{path('todo_edit', {'id': todo.id})}}" class="btn btn-default">{{'todo.actions.edit' | trans }}</a>
                    <a href="{{ path('todo_delete', {'id': todo.id})}}" class="btn btn-danger">{{'todo.actions.delete' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
