{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Todo</th>
            <th>Assigned Date</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td scope="row">{{todo.id}}</td>
                <td>{{todo.name}}</td>
                <td>{{todo.createDate | date('F j, Y, g:i a')}}</td>
                <td>{{todo.duedate | date('F j, Y, g:i a')}}</td>
                <td>
                    <a href="{{ path('todo_details', {'id': todo.id}) }}" class="btn btn-success">View</a>
                    <a href="{{path('todo_edit', {'id': todo.id})}}" class="btn btn-default">Edit</a>
                    <a href="{{ path('todo_delete', {'id': todo.id})}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
